/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
}